CAPÍTULO 5
-
Dados ausentes

5.2 O que é um valor NaN ?

In [1]:
from numpy import NaN, NAN, nan
import pandas as pd

Valores ausentes não são iguais a nada, nem mesmo 0. Já que um valor ausente não existe ele não pode ser igual a nada

In [2]:
print(NaN == True, '\n')
print(NaN == 0, '\n')
print(NaN == '', '\n')
print(NaN == NAN, '\n')
print(NaN == NaN, '\n')

False

False

False

False

False

O pandas tem métodos embutidos para testar um valor ausente

In [3]:
print(pd.isnull(NaN), '\n')
print(pd.isnull(nan), '\n')
print(pd.isnull(NAN), '\n')

True

True

True

E tabém tem métodos para testar valores que não são ausentes

In [4]:
print(pd.notnull(NaN), '\n')
print(pd.notnull(42), '\n')
print(pd.notnull('missing'), '\n')

False

True

True

5.3 De onde vêm os valores ausentes ?

Podemos obter um valor ausente quando carregamos um conjunto de dados com esses valores, ou através da manipulação de dados (data munging)

5.3.1 Carga de dados

Com exemplo do capítulo passado, o conjunto de dados visited tinha dados ausentes, quando o carregamos o pandas encontrou as células vazias e nos retornou um DataFrame com NaN.  
Na função read_csv temos três parâmetros que estão relacionados com a leitura de valores ausentes:  
na_values, keep_default_na, na_filter

In [5]:
visited_file = '../../data/survey_visited.csv'

#carrega os dados com os valores default
print(pd.read_csv(visited_file), '\n')

#carrega os dados sem os valores ausentes default
print(pd.read_csv(visited_file, keep_default_na=False), '\n')

#especifica manualmente os valores ausentes
print(pd.read_csv(visited_file, 
                  na_values=[''],
                  keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

5.3.2 Dados combinados

In [6]:
visited = pd.read_csv('../../data/survey_visited.csv')
survey = pd.read_csv('../../data/survey_survey.csv')

print(visited, '\n')
print(survey)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [7]:
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

5.3.3 valores de entrada do usuário

In [8]:
#valores ausentes em uma Series

#num_legs = numero de patas
num_legs = pd.Series({'goat': 4, 'amoeba': nan})
print(num_legs)

goat      4.0
amoeba    NaN
dtype: float64

In [9]:
#valores ausentes para um dataframe

scientists_NaN = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'missing': [NaN, nan]})

print(scientists_NaN)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

Também é possível atribuir diretamente uma coluna com valores vazios a um dataframe

In [10]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16']})

#atribui uma coluna de valores ausentes
scientists['missing'] = nan

print(scientists)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

5.3.4 Reindexação

Uma maineira de introduzir valores ausente é reindexando o seu dataframe. Isso é conveniente quando queremos adicionar novos índices em nosso dataframe mas queremos preservar seus valores originais

In [11]:
gapminder = pd.read_csv('../../data/gapminder.tsv', sep='\t')

life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

Não é mais possivel criar novos índices reindexando os dados com fatianmento. O loc não permite a crição de novos índices

Mas como alternativa podemos obter um subconjunto dos dados separadamente e usar o método reindex

In [12]:
#cria um subconjunto apenas com os 2 valores acima de 2000
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [13]:
#reindexa criando novos índices
print(y2000.reindex(range(2000,2010)))

year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

5.4 Trabalhando com dados ausentes

5.4.1 Encontrando e contando dados ausentes

In [14]:
ebola = pd.read_csv('../../data/country_timeseries.csv')

#conta o número de dados não ausentes
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

Também é possível subtrair o número total de linhas das linhas não ausentes

In [15]:
num_rows = ebola.shape[0]
#subtrai o número de linhas totais do números de linhas não ausentes para ter o resultado de quantas linhas ausentes
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

Caso queira contar o número total de valores ausentes em seus dados ou o número de valores ausentes em uma coluna, você pode usar a função  
count_nonzero do numpy em conjunto com o método isnull

In [20]:
import numpy as np

print(np.count_nonzero(ebola.isnull()), '\n')
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

1214

29

Outra formar de obter os contadores de dados ausentes é usar o método values_counts em uma serie.  
Esse metodo exibe uma tela com contador de frenquência de cada valor, e se passarmos o parâmetro dropna você também ira obter um contador de valores ausentes

In [17]:
print(ebola['Cases_Guinea'].value_counts(dropna=False).head())

Cases_Guinea
NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: count, dtype: int64

5.4.2 Limpando dados ausentes

Há diferentes maneiras de como podemos lidar com os dados ausentes, podemos substituir por outro valor ou simplesmente descartalos

5.4.2.1 Recodificar/Substituir

Podemos usar o método fillna para recodificar os valores ausentes e transformá-los em outro valor

In [22]:
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

O método fillna tem um parâmetro inplace, o que significa que os dados subjacentes serão alterados automaticamente

5.4.2.2 Preenchimento para a frente

Podemos usar métodos para fazer preenchimento para frente (forward) ou para trás (backward) usando ffill() e bfill()

O forward preecherá o valor abaixo com o valor que está me cima, ou seja o valor que vêm antes será duplicado para baixo

In [24]:
print(ebola.ffill().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

5.4.2.3 Preenchimento para trás

O backward preencherá o valor acima com o valor de baixo, ou seja o valor que vem antes receberá o valor do dado da frente

In [25]:
print(ebola.bfill().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

5.4.2.4 Interpolação

A interpolação usa valores existentes para preencher os valores ausentes. Mas aparentemente o método interpolate está obsoleto e não temos uma substituição simples para ele

5.4.2.5 Descartando valores ausentes

É possível descartar dados ausente, mas deve-se tomar certo cuidado pois se manter somente os casos com dados completos você pode ficar com um conjunto de dados inúteis.  
Descartar valores pode fazer você ficar com um conjunto de dados tendenciso ou até mesmo ficar com dados insuficientes para efetuar uma análise

Podemos usar o parâmetro dropna para descartar os valores ausentes

In [34]:
print(ebola.shape)

(122, 18)

In [37]:
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape, '\n')
print(ebola_dropna)

(1, 18)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

5.4.3 Cálculos com daods ausentes

Suponha que queremos ver os contadores de casos para várias regiões. Podemos somar várias regiões e criar uma nova coluna

In [38]:
ebola['Cases_mutiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

#Vamos observar as 10 primeiras linhas de cálculo
eboal_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_mutiple']]
print(eboal_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_mutiple
0        2776.0            NaN            10030.0            NaN
1        2775.0            NaN             9780.0            NaN
2        2769.0         8166.0             9722.0        20657.0
3           NaN         8157.0                NaN            NaN
4        2730.0         8115.0             9633.0        20478.0
5        2706.0         8018.0             9446.0        20170.0
6        2695.0            NaN             9409.0            NaN
7        2630.0         7977.0             9203.0        19810.0
8        2597.0            NaN             9004.0            NaN
9        2571.0         7862.0             8939.0        19372.0

Cálculos com valores ausentes darão valores ausentes, ao menos que a função ou método tenha um modo de ignorar valores ausentes em seus cálculos.  
Exemplo para isso é mean e sum, essas funções geralmente têm o parâmetro skipna

In [40]:
#skipna por padrão é True
print(ebola.Cases_Guinea.sum(skipna=True), '\n')
print(ebola.Cases_Guinea.sum(skipna=False))

84729.0

nan